@media (max-width: 1200px)
  .slider
    height: 264px
    &_padding
      padding: 24px
    &_bg img
      height: 264px
    &_content-left
      & h1
        font-size: 28px
        font-weight: 600
        line-height: 34px
      & h4
        font-size: 16px
        font-weight: 500
        line-height: 24px

@media (max-width: 992px)
  header
    padding: 12px 0
  .search, .nav
    display: none
  .burger
    display: block
    & img
      padding-right: 16px
@media (max-width: 774px)
  .container
    padding: 0 24px
@media (max-width: 576px)
  .container
    padding: 0 16px
  .tell_button p, .basket_button p
    display: none
