body
  font-family: "Noto Sans", arial
  margin: 0
  padding: 0

a
  text-decoration: none
li
  list-style-type: none
.nav
  background-color: rgb(65, 67, 64)
  & ul
    margin: 6px 0
    padding-left: 0
  & li, a
    color: #fff
    font-size: 14px
    font-weight: 500
    line-height: 22px
  & a
    padding-left: 24px
header
  padding-top: 10px
  padding-bottom: 10px
  box-shadow: 0 10px 10px rgba(221, 221, 221, 0.5)
  & button:hover
    cursor: pointer
  & button
    position: relative
    border: none
    background: none
    color: rgb(103, 105, 102)
    font-size: 13px
    font-weight: 500
    & p
      margin: auto

.container
  max-width: 1320px
  margin: auto
  &_fluid
    width: 100%
.display
  &_flex
    display: flex
  &_between
    display: flex
    justify-content: space-between
    align-items: center
nav ul
  display: flex
  & li
    padding-right: 24px
.basket
  &_span
    position: absolute
    background-color: rgba(23, 155, 61, 1)
    border-radius: 50%
    padding: 1px 4px
    color: #fff
    font-size: 8px
    right: 18px
    top: 0
  &_button
    margin-left: 24px
.search
  & button
    margin-left: 20px
    margin-right: 20px

